*{
	 margin: 0px;
	 padding: 0px;
}

.uno{
	background-color: #DF013A;
	width: 200px;
	height: 200px;
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right: 0px;

}
.dos{
	background-color: #3A01DF;
	width: 200px;
	height: 200px;
	position: absolute;
	top:0px;
	left: 600px;
	bottom:100px;
	right: 0px;

}
.tres{
	background-color: #04B431;
	width: 200px;
	height: 200px;
	position: absolute;
	top:400px;
	left: 0px;
	bottom:0px;
	right: 20px;

}
.cuatro{
	background-color: yellow;
	width: 200px;
	height: 200px;
	position: absolute;
	top:400px;
	left: 600px;
	bottom:0px;
	right: 0px;

}